.Accordion {
	padding: 1rem;
}

.AccordionGrid {
	display: grid;
	grid-template-rows: 0fr;

	& > div {
		overflow: hidden;
	}

	.AccordionTitle {
		display: grid;

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
