@import "./index.scss";

:root {
	background-color: #0d1118;
	color: rgb(230, 230, 230);
}

// Accordion css selectors
.AccordionInteractionElement:hover {
	background-color: rgba(81, 101, 148, 0.3);
}

.AccordionActive {
	background-color: rgba(81, 101, 148, 0.3);
}

.DragableListElement {
	height: 48px;
	font-size: large;
	align-content: center;
}
