@import "./index.scss";

:root {
	background-color: #0d1118;
	color: rgb(230, 230, 230);
}

// Accordion css selectors
.AccordionInteractionElement:hover {
	background-color: rgba(81, 101, 148, 0.3);
}

.AccordionActive {
	background-color: rgba(81, 101, 148, 0.3);
}

.DragableList {
	list-style: none;
}

.DragableListElement {
	height: 48px;
	font-size: large;
	align-content: center;
}

.ReorderableList {
	list-style: none;
}

.ReorderableListItem {
	article {
		border: 1px solid white;
	}
	&.Dragging {
		article div {
			opacity: 0;
		}
	}
}
